<ion-view title="Probiotic">
<ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">

<div data-ng-controller="ProbioticCtrl">
<div class="col-md-9">
    <div class="col-md-12" style="text-align: right">
        <div class="ng-scope">
            <div data-ng-if="currentLang!='fr'">
                <button class="btn ng-scope" data-ng-if="currentLang!='fr'" data-ng-click="changeLanguage('fr')"
                        translate="BUTTON_LANG_FR">France
                </button>
            </div>
            <div data-ng-if="currentLang=='fr'">
                <button class="btn ng-scope" data-ng-click="changeLanguage('en')"
                        translate="BUTTON_LANG_EN">English
                </button>
            </div>
        </div>

    </div>
    <div class="col-md-12">
            <span style="font-size: 40px;color: white" translate="Clinical_guide"
                  class="ng-scope">Clinical Guide to</span><br/>
        <b style="font-size: 50px;color: white;" translate="PROBIOTIC_SUPPLEMENTS" class="ng-scope">PROBIOTIC
            SUPPLEMENTS</b><br/>
        <b style="font-size: 30px;color: black;" translate="AVAILABLE_IN_CANADA" class="ng-scope">AVAILABLE IN
            CANADA: 2014 Edition</b><br/>
            <span style="font-size: 22px;color: white;font-style:inherit" translate="Indication_Dosage"
                  class="ng-scope">Indication, Dosage Forms, and Clinical Evidence to Date</span>
        <hr size="30" style="height: 2px;background-color: black;border: 0 none;color: black;"/>
    </div>
</div>
<div class="col-md-12" style="margin-top: 3%"></div>
<div class="col-md-12">
    <div class="col-md-3" style="text-align: left">
        <b style="font-size: 20px;color: white;" translate="FILTERS" class="ng-scope">FILTERS</b>
    </div>
    <div class="col-md-3" style="text-align: left">
        <b style="font-size: 20px;color: white;" translate="AGE_GROUP" class="ng-scope">AGE GROUP</b><br><br>

        <div>
            <select data-ng-model="ageGroup" class="form-control" data-ng-click="findSelectedData(condition,ageGroup)"
                    style="width: 250px">
                <option value="ALL" data-ng-selected=" 'All' " translate="Please_select_age_group" class="ng-scope">
                    Please select age group
                </option>
                <option data-ng-if="currentLang!='fr' " data-ng-repeat="value in ageGroups" value="{{value.value}}">
                    {{value.text}}
                </option>
                <option data-ng-if="currentLang=='fr' " data-ng-repeat="value in ageGroupsFR" value="{{value.value}}">
                    {{value.text}}
                </option>
            </select>
        </div>
        <div data-ng-if="currentLang=='fr'">

        </div>
    </div>
    <div class="col-md-6" style="text-align: left">
        <b style="font-size: 20px;color: white;" translate="CONDITIONS" class="ng-scope">CONDITIONS</b><br><br>

        <div>
            <select class="form-control" data-ng-click="findSelectedData(condition,ageGroup)" data-ng-model="condition">
                <option value="ALL" data-ng-selected=" 'All' " translate="Please_select_condition" class="ng-scope">
                    Please select condition
                </option>
                <option data-ng-if="currentLang!='fr' " data-ng-repeat="value in activities" value="{{value.value}}">
                    {{value.text}}
                </option>

                <option data-ng-if="currentLang=='fr' " data-ng-repeat="value in activitiesFR" value="{{value.value}}">
                    {{value.text}}
                </option>
            </select>
        </div>
    </div>

</div>
<div class="col-md-12" ng-show="posts.length">
    <div class="col-md-12" style="margin-top: 3%"></div>

    <table class="table  table-bordered">
        <tr style="background-color: dodgerblue">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="12">
                <b style="font-size: 15px;color: white;" translate="INDICATION_FOR_ADULT_HEALTH" class="ng-scope">INDICATION
                    FOR ADULT HEALTH</b>
            </td>
        </tr>
        <tr style="background-color: mediumpurple">
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;"
                                                  translate="Brand_Name" class="ng-scope">
                Brand Name</b>
            </td>

            <td style="vertical-align: middle"><b
                    style="font-size: 12px;color: white;" translate="Genus_Strain" class="ng-scope">Genus/Strain</b>
            </td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;" translate="Dosage_Form"
                                                  class="ng-scope">Dosage
                Form</b></td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;" translate="CFU_dose"
                                                  class="ng-scope">CFU/dose</b>
            </td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;" translate="Number_of_doses_day"
                                                  class="ng-scope">Number of
                doses/day</b></td>
            <td>
                <b style="font-size: 12px;color: white;" translate="ID" class="ng-scope">ID</b>
            </td>

            <td>
                <b style="font-size: 12px;color: white;" translate="AAD" class="ng-scope">AAD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="CDAD" class="ng-scope">CDAD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate=" CP_PP" class="ng-scope"> CP-PP</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="TD" class="ng-scope">TD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="C" class="ng-scope">C</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="IBS" class="ng-scope">IBS</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="IBD_UC" class="ng-scope"> IBD-UC</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="IBD_P" class="ng-scope">IBD-P</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="HP" class="ng-scope">HP</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="PD" class="ng-scope">PD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate=" LDL_C" class="ng-scope"> LDL-C</b>
            </td>
        </tr>
        <tr style="background-color: white;font-size: 12px" data-ng-repeat="post in posts">
            <td>{{ post.Brand_Name}}</td>
            <td>{{ post.Genus_Strain}}</td>
            <td>{{ post.Dosage_Form}}</td>
            <td>{{ post.CFU_dose}}</td>
            <td>{{ post.Number_of_doses_day}}</td>
            <td>{{ post.ID}}</td>
            <td>{{ post.AAD}}</td>
            <td>{{ post.CDAD}}</td>
            <td>{{ post.CP_PP}}</td>
            <td>{{ post.TD}}</td>
            <td>{{ post.C}}</td>
            <td>{{ post.IBS}}</td>
            <td>{{ post.IBD_UC}}</td>
            <td>{{ post.IBD_P}}</td>
            <td>{{ post.HP}}</td>
            <td>{{ post.PD}}</td>
            <td>{{ post.LDL_C}}</td>
        </tr>
    </table>
</div>


<div class="col-md-12" ng-show="posts1.length">
    <div class="col-md-12" style="margin-top: 3%"></div>

    <table class="table table-bordered">
        <tr style="background-color: dodgerblue">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="12">
                <b style="font-size: 15px;color: white;" translate="INDICATION_FOR_PEDIATRIC_HEALTH" class="ng-scope">INDICATION
                    FOR PEDIATRIC HEALTH</b>
            </td>
        </tr>
        <tr style="background-color: mediumpurple">
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;" translate="Brand_Name"
                                                  class="ng-scope">Brand
                Name</b></td>
            <td style="vertical-align: middle"><b translate="Genus_Strain" class="ng-scope"
                                                  style="font-size: 15px;color: white;">Genus/Strain</b></td>
            <td style="vertical-align: middle"><b translate="Dosage_Form" class="ng-scope"
                                                  style="font-size: 12px;color: white;">Dosage
                Form</b></td>
            <td style="vertical-align: middle"><b translate="CFU_dose" class="ng-scope"
                                                  style="font-size: 12px;color: white;">CFU/dose</b>
            </td>
            <td style="vertical-align: middle"><b translate="Number_of_doses_day" class="ng-scope"
                                                  style="font-size: 12px;color: white;">Number of
                doses/day</b></td>
            <td>
                <b translate="Regurg_GI_Mot" class="ng-scope"
                   style="font-size: 12px;color: white;">Regurg_GI_Mot</b>


            </td>
            <td>
                <b translate="Colic" class="ng-scope"
                   style="font-size: 12px;color: white;">Colic</b>

            </td>
            <td>
                <b translate="ID" class="ng-scope"
                   style="font-size: 12px;color: white;">ID</b>

            </td>
            <td>
                <b translate="AAD" class="ng-scope"
                   style="font-size: 12px;color: white;">AAD</b>

            </td>
            <td>
                <b translate="CDAD" class="ng-scope"
                   style="font-size: 12px;color: white;">CDAD</b>

            </td>
            <td>
                <b translate="IBD_UC" class="ng-scope"
                   style="font-size: 12px;color: white;">IBD_UC</b>

            </td>
            <td>
                <b translate="IBD_P" class="ng-scope"
                   style="font-size: 12px;color: white;">IBD_P</b>

            </td>
            <td>
                <b translate="HP" class="ng-scope"
                   style="font-size: 12px;color: white;">HP</b>

            </td>
            <td>
                <b translate="C" class="ng-scope"
                   style="font-size: 12px;color: white;">C</b>

            </td>
            <td>
                <b translate="IBS_FAP" class="ng-scope"
                   style="font-size: 12px;color: white;">IBS_FAP</b>

            </td>
            <td>
                <b translate="CID" class="ng-scope"
                   style="font-size: 12px;color: white;">CID</b>

            </td>
            <td>
                <b translate="CE" class="ng-scope"
                   style="font-size: 12px;color: white;">CE</b>
            </td>
        </tr>

        <tr style="background-color: white ; font-size: 12px" data-ng-repeat="post in posts1">
            <td>{{ post.Brand_Name}}</td>
            <td>{{ post.Genus_Strain}}</td>
            <td>{{ post.Dosage_Form}}</td>
            <td>{{ post.CFU_dose}}</td>
            <td>{{ post.Number_of_doses_day}}</td>
            <td>{{ post.Regurg_GI_Mot}}</td>
            <td>{{ post.Colic}}</td>
            <td>{{ post.ID}}</td>
            <td>{{ post.AAD}}</td>
            <td>{{ post.CDAD}}</td>
            <td>{{ post.IBD_UC}}</td>
            <td>{{ post.IBD_P}}</td>
            <td>{{ post.HP}}</td>
            <td>{{ post.C}}</td>
            <td>{{ post.IBS_FAP}}</td>
            <td>{{ post.CID}}</td>
            <td>{{ post.CE}}</td>
        </tr>
    </table>
</div>

<div class="col-md-12" ng-show="posts2.length">
    <div class="col-md-12" style="margin-top: 3%"></div>
    <table class="table table-bordered">
        <tr style="background-color: dodgerblue">
            <td></td>
            <td></td>
            <td></td>
            <td colspan="7">
                <b style="font-size: 15px;color: white;" translate="INDICATION_FOR_VAGINAL_HEALTH" class="ng-scope">INDICATION
                    FOR VAGINAL HEALTH</b>
            </td>
        </tr>
        <tr style="background-color: mediumpurple">
            <td style="vertical-align: middle">
                <b style="font-size: 12px;color: white;"
                   translate="Brand_Name" class="ng-scope">Brand Name
                </b>
            </td>
            <td style="vertical-align: middle"><b
                    style="font-size: 15px;color: white;" translate="Probiotic_Strain" class="ng-scope">Probiotic
                Strain(s)</b></td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;"
                                                  translate="Dosage_Form" class="ng-scope">Dosage
                Form</b></td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;"
                                                  translate="CFU_dose" class="ng-scope">CFU per
                dose</b>
            </td>
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;"
                                                  translate="Number_of_doses_day" class="ng-scope">Number of
                doses/day</b></td>
            <td><b style="font-size: 12px;color: white;" translate="Vulvovaginal_candidiasis" class="ng-scope">
                Vulvovaginal candidiasis</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="Bacterial_vaginosis" class="ng-scope">Bacterial
                    vaginosis</b>
            </td>
        </tr>

        <tr style="background-color: white" data-ng-repeat="post in posts2">
            <td>{{ post.Brand_Name}}</td>
            <td>{{ post.Probiotic_Strain}}</td>
            <td>{{ post.Dosage_Form}}</td>
            <td>{{ post.CFU_dose}}</td>
            <td>{{ post.Number_of_doses_day}}</td>
            <td>{{ post.Vulvovaginal_candidiasis}}</td>
            <td>{{ post.Bacterial_vaginosis}}</td>
        </tr>
    </table>
</div>


<div class="col-md-12" ng-show="posts3.length">
    <div class="col-md-12" style="margin-top: 3%"></div>

    <table class="table table-bordered">
        <tr style="background-color: dodgerblue">
            <td></td>
            <td></td>
            <td></td>
            <td colspan="9">
                <b style="font-size: 15px;color: white;" translate="FUNCTIONAL_FOODS_WITH_ADDED_PROBIOTICS"
                   class="ng-scope">FUNCTIONAL FOODS WITH ADDED PROBIOTICS</b>
            </td>
        </tr>

        <tr style="background-color: mediumpurple">
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td colspan="4">
                <b style="font-size: 12px;color: white;" translate="CHILDREN" class="ng-scope">CHILDREN</b>
            </td>

            <td colspan="4">
                <b style="font-size: 12px;color: white;" translate="ADULTS" class="ng-scope">ADULTS</b>
            </td>
        </tr>
        <tr style="background-color: mediumpurple">
            <td style="vertical-align: middle"><b style="font-size: 12px;color: white;" translate="Brand_Name"
                                                  class="ng-scope">Brand
                Name</b></td>
            <td style="vertical-align: middle">
                <b style="font-size: 12px;color: white;" translate="Probiotic_Strain" class="ng-scope">Probiotic Strain
                </b>
            </td>
            <td style="vertical-align: middle">
                <b style="font-size: 12px;color: white;" translate="CFU_dose"
                   class="ng-scope">Dosage
                    Form(CFU) At the time of packaging</b>
            </td>
            <td style="vertical-align: middle">
                <b style="font-size: 12px;color: white;" translate="Number_of_doses_day"
                   class="ng-scope">Number of
                    doses/day</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="ID"
                   class="ng-scope">ID</b>

            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="HP"
                   class="ng-scope">HP</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="AAD"
                   class="ng-scope">AAD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="CID"
                   class="ng-scope">CID</b>

            </td>

            <td>
                <b style="font-size: 12px;color: white;" translate="AAD"
                   class="ng-scope">AAD</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="IBS_FAP"
                   class="ng-scope">IBS</b>
            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="HP"
                   class="ng-scope">HP</b>

            </td>
            <td>
                <b style="font-size: 12px;color: white;" translate="C"
                   class="ng-scope">C</b>
            </td>
        </tr>

        <tr style="background-color: white;font-size: 12px" data-ng-repeat="post in posts3">
            <td>{{ post.Brand_Name}}</td>
            <td>{{ post.Probiotic_Strain}}</td>
            <td>{{ post.Dosage_Form}}</td>
            <td>{{ post.Number_of_doses_day}}</td>
            <td>{{ post.ID}}</td>
            <td>{{ post.HP_CHILDREN}}</td>
            <td>{{ post.AAD_CHILDREN}}</td>
            <td>{{ post.CID}}</td>
            <td>{{ post.AAD_ADULT}}</td>
            <td>{{ post.IBS}}</td>
            <td>{{ post.HP_ADULT}}</td>
            <td>{{ post.C}}</td>
        </tr>
    </table>
</div>

</div>
</ion-content>
</ion-view>